.subtitle {
  color: #666;
}

.title, .subtitle {
  margin-top: 0;
  margin-bottom: 0;
}

.top-line {
	line-height: 1;
	margin-bottom: 1em;
	background-color: #07529b;
}

.main {
	font-size: 1.2em;
}

span.ru {
	font-weight: 300;
    font-size: 0.8em;
    color: #fff;
    background-color: #07529b;
    border-radius: 2px;
    padding: 0 6px;
    text-align: center;

}

a {
	color: #0095e6;
}