:root {
  --theme-color: #07529b;
  --theme-color-light: #07529b99;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p.first {
  margin-top: 0;
}

.subtitle {
  /*color: #666;*/
  color:  var(--theme-color-light);
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  color:  var(--theme-color);
}

.subtitle {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.top-line {
	line-height: 1;
	margin-bottom: 3em;
  background-color: var(--theme-color);
  
}

.footer {
  line-height: 5;
  margin-top: 3em;
  background-color: var(--theme-color);
}

.main {
	font-size: 1.1xem;
}

span.ru {
	  font-weight: 300;
    font-size: 0.8em;
    color: #fff;
    background-color: var(--theme-color);
    border-radius: 2px;
    padding: 0 6px;
    text-align: center;

}

a {
  color: var(--theme-color);
}

.main .card-content, .main .card-reveal {
  font-size: 0.8em;
}

.main .card-title {
  font-size: 1.2em;
}

.avatar {
  text-align: center;
}

.avatar img {
  border-radius: 5px;
}

.paper-img {
  border: 1px solid #999;
  border-radius: 5px;
}


.avatar i {
  font-size: 1.2em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  margin-top: 0.4em;
  font-style: normal;
}

.subhead {
  text-align: center;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom h3 {
  margin: 0;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  
  border-radius: 1rem;
  border-color: #2c3e50;
  background-color: var(--theme-color);
  /*background-color: #781D42;
  border-color: #781D42;*/

}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: var(--theme-color);
  text-align: center;
}

.talks {
  font-size:  1.3em;
}

h4 {
  color: var(--theme-color);
  margin-top: 0;
  padding-top: 0;
  font-size: 1.5em;
}

